<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="balance" value="1000"/>
		<add	key ="Корова" value="0"/>
		<add	key ="Свинья" value="0"/>
		<add	key ="Козел" value="0"/>
		<add	key ="Курица" value="0"/>
		<add key="growingValue" value=""/>
	</appSettings>
</configuration>
